body {
  background: #74ebd5;
  background: -webkit-linear-gradient(to right, #acb6e5, #74ebd5);
  background: linear-gradient(to right, #acb6e5, #74ebd5);
  padding: 25px;
}

.container {
  background-color: rgba($color: #fff, $alpha: 0.4);
  border-radius: 10px;
  width: 70%;
  padding: 30px;

  @include atSmall {
    width: 90%;
    padding: 20px;
  }

  @include atLarge {
    width: 70%;
  }
}

#randomize {
  padding: 10px;
  background-color: royalblue;
  color: white;
  border: 0;
  box-shadow: none;
  border-radius: 5px;
  font-size: 1.2em;
  transition-duration: 0.5s;
  margin-top: 10px;

  &:hover {
    background-color: royalblue*1.3%;
  }
}

img {
  border-radius: 10px;
  height: 13rem;

  @include atSmall {
    width: 99.9%;
  }

  @include atLarge {
    height: 95%;
    width: auto;
  }
}

#header {
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;

  @include atSmall {
    font-size: 4rem;
  }
}
